[submodule "thirdparty/plume"]
	path = thirdparty/plume
	url = git@github.com:noeldvictor/plume.git
	branch = main
[submodule "thirdparty/XenosRecomp"]
	path = thirdparty/XenosRecomp
	url = git@github.com:noeldvictor/XenosRecomp.git
	branch = reblue
[submodule "thirdparty/implot"]
	path = thirdparty/implot
	url = https://github.com/epezent/implot.git
[submodule "thirdparty/picosha2"]
	path = thirdparty/picosha2
	url = https://github.com/okdshin/PicoSHA2.git
